html {
    margin: 0; 
    padding: 0; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
}


header {
    grid-area: header;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

.section4 {
    grid-area: section4;
}

.section5 {
    grid-area: section5;
}

.section6 {
    grid-area: section6;
}

footer {
    grid-area: footer;
}

/*alt style i css skal skrives ovenover containeren ved mobilversionen*/
.web-nav {
    display: none; 
}



.container {
    display: grid;
    padding: 0px; 
    gap: 0px; 
    grid-template-areas: 
    "header"
    "section1"
    "section2"
    "section3"
    "section4"
    "section5"
    "section6"
    "footer"
}

/*alt style til desktop skrives nedenunder nedenstående mediaqueries*/

@media screen and (max-width: 400px) {

    header {position: relative;
        background-image: url("../image/Forside-mobile.jpg");
        height: 300px;
        width: 100%;
        background-position: center;
        background-size: cover;
        
    }
/*
    .tilbage {
        position: absolute;
        padding: 10px;
    }
*/
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/*
    .burgermenu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 13px;
    }
*/

.headline-nav {
    text-align: center;
    position: absolute; 
    top: 63%; 
    left: 50%; 
    transform: translate(-50%, -58%);
    font-weight: 400;
    width: 200px; 
    text-shadow: 0px -0.5px 15px rgba(0, 0, 0, 0.87);
    color: white; 
    
}

.mobile-nav {
    padding: 10px; 
}

#bars{
    background-color: black; 
    border-radius: 50%; 
    border: 1px solid black;
    padding: 8px; 
    float: right;
    
}

#arrow {
    background-color: black;
    border-radius: 50%; 
    border: 1px solid black; 
    padding: 8px; 
    color: white; 
}

    .section1 article {
        text-align: center;
        font-size: 10px;
        margin: auto;
        width: 80vw;
        margin-top: 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .section1 {
        color: black;
    }

    .section2 {
        margin-top: 5vh;
    }

    .section3 {
        text-align: center;
        font-size: 10px;
        margin: auto;
    }


    .section4 {
        text-align: center;
        color: white;
        padding-bottom: 5vh;
        background-color: #96192B;
        line-height: 2;
    }

    .section4 h2 {
        border-bottom: 1px solid rgb(255, 255, 255);
        width: 90%;
        margin: auto;
        margin-top: 7vh;
        padding-bottom: 2vh;
    }

    /* .section6 h2 {
        border-bottom: 1px solid rgb(255, 255, 255);
        height: 5vh;
        width: 60%;
        margin: auto;
        margin-top: 100px;
        padding-bottom: 20px;
    }

    .section6 {
        background-color: #1B2557;
    } */

    .sectioncontainer {
        width: 80vw;
        outline: 1px dashed white;
        margin: auto;
        outline: 1px dashed white;
        outline-offset: 10px;
        padding-bottom:20px;
        margin-top: 0px;
    }

    article p {
        margin-top: 40px;
        
        
    }

 


    .articleimage {
        position: relative;
        background-image: url("../image/Brunch-min.jpg");
        background-size: cover;
        background-position: top;
        height: 25vh;
        width: 100%;
    }

   
    .prisliste {
        display: none;
    }

    /* .tekstcon {
        background-color:#1B2557;
        color: white;
    }

    .tekstcon p {
        padding: 30px;
    } */

    

/* Footer herunder: */

footer {
    padding-top: 5vh;
    background-color: #EBEBEB;
    
}

.logofooter {
    width: 50vw;
    margin-left: 10vw;
}

.footercon {
    margin-top: 2vh;
    display: flex;
}

.venstrefooter {
    margin-left: 8vw;
}

.højrefooter {
    margin-left: 5vw;
}

.telefon {
    margin-top: 5vh;
}

.social {
    margin-top: 10vh;
    position: absolute;
    right: 13vw;
    
}

#facebookicon, #instagramicon {
    font-size: 50px;
}

}





@media (min-width: 900px) {
    /* .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "header header header header"
        ""
        ""
    } */


    header {
        position: relative;
        background-image: url("../image/header-web-ny.jpg");
        height: 40vh;
        width: 100%;
        background-position: bottom;
        background-size: cover;
    }

    .headline-nav {
        display: none; 
    }

    .logo {   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
    
    #bars, #arrow{
        display: none; 
    }

    .web-nav {
        grid-area: web-nav;
        display: inline-flex;
        justify-content: space-around;
        border: grey 1px solid;
        position: absolute;
        bottom: 0;
        
        background-color: white;
        width: 100%;
        
    }

   

    ul li {
        display: inline;
        list-style: none;
        
    }
    
    

    ul li a {
        text-decoration: none;
        color: black;
        padding: 20px;
        
    }

    

    .tilbage, .burgermenu {
        display: none; 
        
    }


    .prisliste ul {
        padding: 0;
    }

    article p { 
        margin-top: 40px;
    }

    .section1, .section2, .section3 {
        display: none;
    }

    .section4 {
        grid-area: section4;
        color: white;
        padding-bottom: 5vh;
        background-image: url("../image/Brunch-min.jpg");
        background-position: center;
        background-size: cover;
    
        
    }

    .section4 h2 {
        border-bottom: 1px solid rgb(255, 255, 255);
        width: 60%;
        margin: auto;
        margin-top: 7vh;
    }
    
    .section4 article {
        text-align: center;
        width: 50vw;
        margin: auto;
        padding-top: 5vh;
        line-height: 2;
        
    }
    
    h1 {text-align: center;
    padding-bottom: 5vh;}

    

    .sectioncontainer {
        width: 60vw;
        margin: auto;
        outline-offset: 10px;
        padding-bottom:20px;
        margin-top: 40px;
        background-color: #96192cda;
    }

    
    footer {
        position: relative;
        padding-top: 5vh;
        background-color: #EBEBEB;
        
    }
    
    .logofooter {
        width: 50vw;
        padding: 70px;
        margin-left: 10vh;
    }
    
    .footercon {
        margin-top: 2vh;
        display: flex;
    }
    
    .venstrefooter {
        margin-left: 8vw;
    }
    
    .højrefooter {
        margin-left: 5vw;
        padding-right: 100px; 
        border-right: 0.5px solid rgb(66, 65, 65);
    }
    
    .telefon {
        margin-top: 5vh;
    }
    
    .social {
        margin-top: 50px;
        position: absolute;
        right: 15vw;
        
    }

    .footerbillede {
        background-image: url(../image/Sort\ hvid-min.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 20vh;
        width: 20vw;
        position: absolute;
        right: 0;
        top: 8vh;

    
    
    }

    #facebookicon, #instagramicon {
        font-size: 50px;
    }

}




