html {
    margin: 0; 
    padding: 0; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
}




/*alt style i css skal skrives ovenover containeren ved mobilversionen*/
.web-nav {
    display: none; 
}





/*alt style til desktop skrives nedenunder nedenstående mediaqueries*/

@media screen and (max-width: 400px) {

    .container {
        display: grid;
        padding: 0px; 
        gap: 0px; 
        grid-template-areas: 
        "header"
        "section1"
        "section2"
        "section3"
        "section4"
        "section5"
        "section6"
        "footer"
    }

    header {position: relative;
        background-image: url("../image/Forside-mobile.jpg");
        height: 300px;
        width: 100%;
        background-position: center;
        background-size: cover;
        
    }

    .headline-nav {
        text-align: center;
        position: absolute; 
        top: 63%; 
        left: 50%; 
        transform: translate(-50%, -58%);
        font-weight: 400;
        width: 200px; 
        text-shadow: 0px -0.5px 15px rgba(0, 0, 0, 0.87);
        color: white; 
        
    }

    header {
        grid-area: header;
    }
    
    .section1 {
        grid-area: section1;
    }
    
    .section2 {
        grid-area: section2;
    }
    
    .section3 {
        grid-area: section3;
    }
    
    .section4 {
        grid-area: section4;
    }
    
    .section5 {
        grid-area: section5;
    }
    
    .section6 {
        grid-area: section6;
    }
    
    footer {
        grid-area: footer;
    }

    

    .btn {
        display: none;
    }

    .section1 {
       padding: 0;
       margin: 0;
    }

    .section2 {
        margin-top: 5vh;
    }

    .section3 {
        text-align: center;
        font-size: 10px;
        margin: auto;
    }


    .section4, .section6 {
        text-align: center;
        color: white;
        padding-bottom: 5vh;
        background-color: #1B2557;
        line-height: 2;
    }

    .section4 article {
        text-align: center;
        margin: auto;
        padding-top: 2vh;
        line-height: 3;
    }

    .section4 h2 {
        border-bottom: 1px solid rgb(255, 255, 255);
        height: 5vh;
        width: 60%;
        margin: auto;
        margin-top: 50px;
        padding-bottom: 20px;
    }

    .section5 article {
        text-align: center;
        font-size: 10px;
        margin: auto;
        width: 80vw;
        margin-top: 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .section6 {
        margin-top: 5vh;
    }

    

    .sectioncontainer2 {
        width: 80vw;
        outline: 1px dashed white;
        margin: auto;
        outline: 1px dashed white;
        outline-offset: 10px;
        padding-bottom:20px;
        margin-top: 5vh;
    }

    .sectioncontainer {
        width: 80vw;
        outline: 1px dashed white;
        margin: auto;
        outline: 1px dashed white;
        outline-offset: 10px;
        padding-bottom:20px;
        margin-top: 7vh;
    }

    article p {
       
        margin: 0;
        
    }

 
    

    .articleimage {
        position: relative;
        background-image: url("../image/Dåb\ og\ navngivning-min.jpg");
        background-size: cover;
        background-position: center;
        height: 25vh;
        width: 100%;
    }

   
    

    .tekstcon {
        background-color:#1B2557;
        color: white;
    }

    .tekstcon p {
        padding: 30px;
    }
    .mobile-nav {
        padding: 10px; 
    }
    
    #bars{
        background-color: black; 
        border-radius: 50%; 
        border: 1px solid black;
        padding: 8px; 
        float: right;
        
    }
    
    #arrow {
        background-color: black;
        border-radius: 50%; 
        border: 1px solid black; 
        padding: 8px; 
        color: white; 
    }

/*
    .tilbage {
        position: absolute;
        padding: 10px;
    }
*/
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/*
    .burgermenu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 13px;
    }
*/
    .section1 article {
        text-align: center;
        font-size: 10px;
        margin: auto;
        width: 80vw;
        margin-top: 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

/* Footer herunder: */

footer {
    padding-top: 5vh;
    background-color: #EBEBEB;
    
}

.logofooter {
    width: 50vw;
    margin-left: 10vw;
}

.footercon {
    margin-top: 2vh;
    display: flex;
}

.venstrefooter {
    margin-left: 8vw;
}

.højrefooter {
    margin-left: 5vw;
}

.telefon {
    margin-top: 5vh;
}

.social {
    margin-top: 9vh;
    position: absolute;
    right: 13vw;
}

#facebookicon, #instagramicon {
    font-size: 50px;
}


}





@media (min-width: 900px) {
    .container {
        background-image: url("../image/Bryllup\ lys-min.jpg");
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(4, 25vw);
        grid-template-areas: 
        "header header header header"
        "section4 section4 section6 section6"
        "footer footer footer footer"
    }

    header {
        grid-area: header;
        position: relative;
        background-image: url("../image/header-web-ny.jpg");
        height: 40vh;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    .headline-nav {
        display: none; 
    }

    #bars, #arrow {
        display: none; 
    }

    .headline-nav {
        text-align: center;
        position: absolute; 
        top: 58%; 
        left: 50%; 
        transform: translate(-50%, -58%);
        font-weight: 400;
        width: 200px; 
        text-shadow: 0px -0.5px 15px rgba(0, 0, 0, 0.87);
        color: white; 
        
    }

    .logo { 
          
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 

    .web-nav {
        grid-area: web-nav;
        display: inline-flex;
        justify-content: space-around;
        border: grey 1px solid;
        position: absolute;
        bottom: 0;
        
        background-color: white;
        width: 100%;
        
    }

    ul li {
        display: inline;
        list-style: none;
        
    }
    
    

    ul li a {
        text-decoration: none;
        color: black;
        padding: 20px;
        
    }

    
    

    .tilbage, .burgermenu {
        display: none; 
        
    }

    .section1, .section2, .section3, .section5 {
        display: none;
    }
    
    

    .section4 {
        padding-bottom: 5vh;
        grid-area: section4;
        
    }

    .section6 {
        grid-area: section6;
    
    }
    

    .test {
        background-image: url("../image/kelsey-chance-tAH2cA_BL5g-unsplash-min.jpg");
        background-size: cover;
        background-position: center;
    }

    .section4 h2 {
        border-bottom: 1px solid rgb(255, 255, 255);
        width: 60%;
        margin: auto;
        margin-top: 7vh;
       
    }

    
    
    .section4 article {
        text-align: center;
        margin: auto;
        padding-top: 5vh;
        line-height: 2.5;
        outline: 5px dotted white;
        outline-offset: -3vh;
       
        
    }

    .section6 h2 {
        border-bottom: 1px solid rgb(255, 255, 255);
        width: 50%;
        margin: auto;
        margin-top: 7vh;
    }

    .section6 article {
        text-align: center;
        margin: auto;
        padding-top: 5vh;
        line-height: 2.5;
        outline: 5px dotted white;
        outline-offset: -3vh;
        padding-bottom: 190px;
       
        
    }

    .sectioncontainer {
        position: relative;
        /* height: 600px; */
        width: 40vw;
        margin: auto;
        outline-offset: 10px;
        padding-bottom: 1vh;
        margin-top: 40px;
        /* outline: 5px dotted white; */
        background-color: #ffffffa4;
        /* border: 5px dotted white; */
    }


    .sectioncontainer2 {
        position: relative;
        height: 767px;
        width: 40vw;
        margin: auto;
        outline-offset: 10px;
        padding-bottom: 1vh;
        margin-top: 40px;
        /* outline: 5px dotted white; */
        background-color: #ffffffa4;
        /* border: 5px dotted white; */
    }

    article p {
        padding: 3vw;
    }

   .minpersoner2 {
      position: absolute;
       bottom: 0;
       right: 30%;
   }

    .btn {
        position: absolute;
        bottom: -4vh;
        right: 2vw;
        padding: 10px;
        background-color: #19A81E;
        border: none;
        color: #ffffff;
    }


    footer {
        grid-area: footer;
        position: relative;
        padding-top: 5vh;
        background-color: #EBEBEB;
        margin-top: 10vh;
        
    }
    
    .logofooter {
        width: 50vw;
        padding: 70px;
        margin-left: 10vh;
    }
    
    .footercon {
        margin-top: 2vh;
        display: flex;
    }
    
    .venstrefooter {
        margin-left: 8vw;
    }
    
    .højrefooter {
        margin-left: 5vw;
        border-right: 0.5px solid rgb(66, 65, 65); 
        padding-right: 100px; 

    }
    
    .telefon {
        margin-top: 5vh;
    }
    
    .social {
        margin-top: 50px;
        position: absolute;
        right: 15vw;
        
    }

    .footerbillede {
        background-image: url(../image/Sort\ hvid-min.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 20vh;
        width: 20vw;
        position: absolute;
        right: 0;
        top: 8vh;

    
    
    }

    #facebookicon, #instagramicon {
        font-size: 50px;
    }

}




