html {
    margin: 0; 
    padding: 0; 
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0; 
    font-weight: 600;
}

header {
    grid-area: header;
}

.mk-section_information {
    grid-area: section-1;
}

.mk-section_dagsmødebillede{
    grid-area: section-2;
}

.mk-section_dagsmøde-tekst {
    grid-area: section-3
}

.mk-section_aftenmøde-billede {
    grid-area: section-4
}

.mk-section_aftenmøde{
    grid-area: section-5;
}

.mk-section_heldagsmøde-billede {
    grid-area: section-6
}

.mk-section_heldagsmøde {
    grid-area: section-7;
}

footer {
    grid-area: footer;
}


.head-top {
    background-image: url("../image/Forside-mobile.jpg");
    position: relative;
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat; 
    padding: 10px;
    height: 300px; 
    
    
}

.mobile-nav {
    color: white; 
     
}

.logo-top {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

}

.headline-nav {
    text-align: center;
    position: absolute; 
    top: 64%; 
    left: 50%; 
    transform: translate(-50%, -58%);
    font-weight: 400;
    width: 200px;
    text-shadow: 0px -0.5px 15px rgba(0, 0, 0, 0.87);
    color: white; 
    
}

#bars {
    background-color: black; 
    border-radius: 50%; 
    border: 1px solid black;
    padding: 8px; 
    float: right;
    
}

#arrow {
    background-color: black;
    border-radius: 50%; 
    border: 1px solid black; 
    padding: 8px; 
}

.mk-article_text {
    text-align: center;
    padding: 10px; 
    margin: 30px;
    border-top: 1px solid black; 
    border-bottom: 1px solid black;
    line-height: 25px;
     
}


.mk-headline_dagsmøde-h3, .mk-section_headline-aftenmøde, .mk-section_headline-heldagsmøde{
    box-sizing: border-box; 
    text-align: center;
    margin: 0px; 
    padding: 5px; 
    background-color: white; 
    width: 100%;
    color: #666666;
    font-weight: 600;
    text-shadow: 0px -0.5px rgba(15, 15, 15, 0.938);  
}

.mk-article_dagsmøde, .mk-article_aftenmøde, .mk-article_heldagsmøde{
    background-color: #666666; 
    padding: 30px;
    padding-top: 10px; 
    line-height: 17px; 
    color: whitesmoke; 
}


.mk-article_paragraph-pris-1, .mk-article_paragraph-pris-2 ,.mk-article_paragraph-pris-3 {
    box-sizing: border-box;
    background-color:#31571b;  
    color: white; 
    width: 40%;
    padding: 5px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    text-align: center; 
    border-radius: 2.5px; 
    display: block; 
    float: right;
    margin-top: 5px; 
    
}

.mk-section_aftenmøde-billede, .mk-section_heldagsmøde-billede{
    margin-top: 40px; 
}


/* footer {
    background-color: #EBEBEB; 
    margin-top: 50px;  
    
 }
 
 .logo-bottom {
     display: inline-block;
     position: relative; 
     top: -50%; 
     left: 50%; 
     transform: translate(-50%, 50%);
 }
 
 .bf-footer_kontaktinfo {
     padding: 25px; 
     display: block; 
     float: left;
 }

 .bf-footer_telefontid {
     margin-top: 35px; 
 }

 .bf-footer_adresse {
     padding: 25px;     
 }
 
 .bf-footer_medier {
     margin-top: 100px; 
 }
 
 .bf-footer_bold {
     font-weight: bold;
 }

 .logo-bottom-web {
     display: none;
 } */

 .mk-section_dagsmøde-image-web {
     display: none; 
 }
.web-nav {
    display: none; 
}

.container-web {
    display: none; 
}

.container {
    display: grid;
    padding: 0px; 
    margin: 0px; 
    gap: 0px; 
    grid-template-areas: 
    "header"
    "section-1"
    "section-2"
    "section-3"
    "section-4"
    "section-5"
    "section-6"
    "section-7"
    "footer"
}

footer {
    padding-top: 5vh;
    background-color: #EBEBEB;
    
}

.logofooter {
    width: 50vw;
    margin-left: 10vw;
}

.footercon {
    margin-top: 2vh;
    display: flex;
}

.venstrefooter {
    margin-left: 8vw;
}

.højrefooter {
    margin-left: 5vw;
    padding-right: 100px;
    border-right: 0.5px solid rgb(66, 65, 65);
}

.telefon {
    margin-top: 5vh;
}

.social {
    position: absolute;
    right: 15vw;
    margin-top: 50px;
}

#facebookicon, #instagramicon {
    font-size: 50px;
}


/*alt style til desktop skrives nedenunder nedenstående mediaqueries*/

@media (min-width: 900px) {
    .container {
        background-image: url("../image/Møder\ og\ konferencer.jpg");
        background-position: center;
        background-size: cover;
        column-gap: 20px;
        grid-template-columns: repeat(14, 1fr);
        

    }



  



   .mk-section_dagsmøde-image {
       padding-top: 40px; 
   }

   .head-top-web {
       display: grid;
       grid-column:1/15; 
       position: relative;
       background-image: url("../image/header-web-ny.jpg");
       height: 300px;
       width: 100%;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       margin-bottom: 50px; 
   }
    
   .logo-bottom {
       display: none; 
   }
   
   .head-top {
       display: none;
   }

   .logo-top-web {
       position: absolute;
       bottom: 120%; 
       left: 50%; 
       transform: translate(-50%, -120%)

   }

    .mk-section_information {
        display: none; 
    }

    .web-nav {
        display: inline-flex;
        justify-content: space-around;
        border: none; 
        position: absolute; 
        bottom: 0; 
        background-color: white; 
        width: 100%;
     
    
    }

    ul li {
        display: inline; 
        list-style: none;
    }

    ul li a {
        text-decoration: none; 
        color: black; 
        padding: 20px; 
    }


    .mk-section_dagsmødebillede, .mk-section_dagsmøde-tekst {
        display: grid;
        grid-column: 2/6 ; 

        
        
    }

    .mk-section_aftenmøde-billede {
        display: grid;
        grid-column: 6/10; 
        grid-row-start: 2; 
    }

    .mk-section_aftenmøde {
        grid-column:6/10;
        grid-row-start:4; 

    }

    .mk-section_heldagsmøde-billede {
        display: grid; 
        grid-column: 10/14 ;
        grid-row-start: 2; 
    }

    .mk-section_heldagsmøde {
        grid-column: 10/14 ; 
        grid-row-start: 4; 
    }

    .mk-article_heldagsmøde, .mk-article_dagsmøde ,.mk-article_aftenmøde {
        box-sizing: border-box;
        height: 250px;
    }

    
    
    .mk-article_paragraph-pris-2 {
        position: static;
        margin-top: 100px; 
   
    }   

    .mk-article_paragraph-pris-3 {
        margin-top: 70px; 
    }

    .mk-paragraph_bold-1, .mk-paragraph_bold-2 ,.mk-paragraph_bold-3 {
        font-weight: bold;
    }

    footer {
        position: relative;
        grid-column: 1/15; 
    }
    
    .mk-section_headline-heldagsmøde, .mk-headline_dagsmøde-h3, .mk-section_headline-aftenmøde {
        border-left: 0.5px solid lightgrey; 
        border-right: 0.2px solid lightgrey;
    }



    .footerbillede {
        background-image: url(../image/Sort\ hvid-min.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 20vh;
        width: 20vw;
        position: absolute;
        right: 0;
        top: 8vh;

    
    
    }
    
    

    /* ul skal være med: position: relative;*/

    .mobile-nav {
        display: none; 
    }


}


