* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-image: url("../image/Kontakt-min.jpg");
    height: 50vh;
    align-items: center;
}



.billede {
    position: relative;
    width: 250px;
    height: 150px;
    background-image: url(../image/Kontakt-min.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0 ;
}

button {
    position: absolute;
    padding: 10px;
    border: none;
    background-color: green;
    margin-top: -20px;
    margin-left: 90px;
    
    
}

p {
    padding: 20px;
    width: 250px;
    background-color: red;
    color: white;
    padding-top: 4vh;
    padding-bottom: 2vh;
    border-radius: 0 0 10px 10px;
}

.tekstcontainer {

}